* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--color-main-black);
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Merriweather', serif; */

}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}