.order {
  padding-top: 122px;
  background-image: url(../assets/webp/order-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.order__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order__wrap {
  max-width: 470px;
}

.order__title {
  color: var(--color-btn-title);
  margin-bottom: 60px;
}

.order__desc {
  color: var(--color-btn-title);
  font-size: 18px;
  font-weight: 300;
  line-height: 138%;
  margin-bottom: 80px;
}

.order__items {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.order__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.order__icon {
  height: 30px;
}

.order__icon img {
  width: 100%;
  object-fit: contain;
}

.order__link {
  display: block;
  color: var(--color-btn-title);
  font-family: Lato;
  font-size: 21px;
  font-weight: 300;
  line-height: 124%;
  transition: all .3s;
}

.order__link:hover {
  opacity: .7;
  transition: all .3s;
}

.order__form {
  width: 540px;
  padding-top: 14px;
}

.order__form-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px 30px;
}

.order__box {
  width: calc(50% - 20px);
}

.order__caption {
  color: var(--color-btn-title);
  font-size: 16px;
  font-weight: 400;
  line-height: 138%;

}

.order__box-big {
  width: 100%;
}

.order__bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}