:root {
  --bg-main: #F9F9F9;
  --bg-main-gray: #EBEBEB;

  --font-color-gray: #544b4b;

  --color-main-black: #000;
  --color-accent-blue: #005FA3;
  --color-text: #222;
  --title-color: #333;
  --color-btn-title: #FFF;
  --color-caption: #BDBDBD;
}